.links
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.link
  color: #088acc
  width: 30%
  padding: 10px
  border-style: solid
  background-color: #d3d3d3
  margin: 10px
  
.add-link-button
  background-color: #088acc